aio-pika==6.3.0
aiofile==1.5.2
aiofiles==0.4.0
aiormq==2.9.1
aiosqlite==0.10.0
alabaster==0.7.12
alembic==1.3.0
apispec==1.3.3
apistar==0.7.2
asgiref==3.2.3
async-timeout==3.0.1
asynctest==0.13.0
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.7.0
backcall==0.1.0
bump2version==0.5.11
certifi==2022.12.7
chardet==3.0.4
Click==7.0
colorlog==4.0.2
commonmark==0.9.1
coverage==5.0a8
databases==0.2.5
dataclasses-json==0.3.5
decorator==4.4.1
docutils==0.15.2
factory-boy==2.12.0
Faker==2.0.3
h11==0.8.1
httptools==0.0.13
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
inflection==0.3.1
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
jedi==0.15.1
Jinja2==2.10.3
jupyter-client==5.3.4
jupyter-core==4.6.1
Mako==1.1.0
MarkupSafe==1.1.1
marshmallow==3.2.1
marshmallow-enum==1.5.1
mode==4.1.3
MonkeyType==19.5.0
more-itertools==7.2.0
multidict==4.5.2
mypy-extensions==0.4.3
nejma==0.1.0
packaging==19.2
pamqp==2.3.0
parso==0.5.1
pathspec==0.6.0
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.13.0
prompt-toolkit==2.0.10
ptyprocess==0.6.0
purepng==0.2.0
py==1.8.0
pydot==1.4.1
Pygments==2.4.2
pyparsing==2.4.2
pytest==5.2.2
pytest-asyncio==0.10.0
pytest-cov==2.8.1
pytest-factoryboy==2.0.3
pytest-mock==1.11.2
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.3
PyYAML==5.1.2
pyzmq==18.1.0
recommonmark==0.6.0
requests==2.21.0
retype==19.9.0
rinoh-typeface-dejavuserif==0.1.1
rinoh-typeface-texgyrecursor==0.1.1
rinoh-typeface-texgyreheros==0.1.1
rinoh-typeface-texgyrepagella==0.1.1
rinohtype==0.3.1
six==1.12.0
snowballstemmer==2.0.0
Sphinx==2.2.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
SQLAlchemy==1.3.10
SQLAlchemy-Utils==0.34.2
starlette==0.11.4
starlette-apispec==1.0.2
starlette-jsonrpc==0.2.0
stringcase==1.2.0
text-unidecode==1.3
tornado==6.0.3
traitlets==4.3.3
tw==0.1
-e git+https://github.com/sysid/twpy.git@e736f98b1a9eba9525ea46a833503de63ffa700d#egg=twpy
typed-ast==1.4.0
typesystem==0.2.0
typing-extensions==3.7.4.1
typing-inspect==0.5.0
urllib3==1.24.3
uvicorn==0.10.2
uvloop==0.14.0rc2
wcwidth==0.1.7
websockets==8.0.2
whitenoise==4.1.4
yarl==1.4.0a11
zipp==0.6.0
